.contact {
  .page__heading {
    margin-bottom: 0;
    padding-bottom: 2rem;
  }

  .contact-form {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__infos {
    margin-bottom: 10rem;
    padding-top: 0 !important;

    &__wrapper {
      display: flex;
      gap: 4rem;
      align-items: center;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 2rem;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      .icon {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        background-color: var(--orange--light);
        border-radius: 100%;

        svg {
          stroke: var(--orange--dark);
          width: 100%;
        }
      }

      a {
        text-decoration: none;
      }

      p {
        font-size: 1.3rem;
        text-align: justify;
        text-transform: uppercase;
        color: #4e4e4e;
      }
    }
  }
}
