<template>
  <div class="page contact">
    <layout-the-page-heading title="Contact" :text="page.data.headingContent" />

    <div class="contact__infos container">
      <div class="contact__infos__wrapper">
        <div class="contact__infos__item">
          <div class="icon">
            <MailIcon />
          </div>
          <a href="mailto:contact@atelierboussole.com">
            <p>contact@atelierboussole.com</p>
          </a>
        </div>
        <div class="contact__infos__item">
          <div class="icon">
            <PhoneIcon />
          </div>
          <div>
            <a href="tel:0666413023">
              <p>06 66 41 30 23</p>
            </a>
          </div>
        </div>
        <div class="contact__infos__item">
          <div class="icon">
            <MapIcon />
          </div>
          <p>à distance, en visio, en présentiel</p>
        </div>
      </div>
    </div>

    <contact-form class="container" />
  </div>
</template>

<style lang="scss" src="./contact.scss"></style>

<script>
import MailIcon from "../../assets/img/mail.svg?inline";
import PhoneIcon from "../../assets/img/phone.svg?inline";
import MapIcon from "../../assets/img/map-pin.svg?inline";

export default {
  components: {
    MailIcon,
    PhoneIcon,
    MapIcon,
  },
  async asyncData({ $prismic, params, error }) {
    const page = await $prismic.api.getSingle("contact");
    if (page) {
      return { page };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
};
</script>
