<template>
  <div class="page mentions-legales">
    <layout-the-page-heading title="Mentions légales" />
    <section class="container">
     <p>Conformément à l’article 6 de la loi du 21 juin 2004, pour la confiance dans l’économie numérique, vous
trouverez ci-dessous toutes les mentions relatives au service de communication au public en ligne
dénommé atelierboussole.com</p>

<h3>Information éditeur</h3>
<p>Editeur du Site : SARL L’Atelier & la Boussole<br>
Adresse siège social : 10 rue de la fourmi 31200 Toulouse<br>
Téléphone : 07 60 42 93 66 – 06 66 41 30 23<br></p>

<h3>Informations société :</h3>
<p>
  L’Atelier & la Boussole<br>
  SARL au capital de 1 000 €<br>
  10 rue de la fourmi 31200 Toulouse<br>
  N° SIRET : 913 079 612 RCS TOULOUSE<br>
  N° APE : 8559 A<br>
  N° NDA : 76 31 11495 31<br>
  N° TVA : FR 73913079612<br>
</p>

<h3>Information site</h3>
<p>
  Site www.atelierboussole.com<br>
  Email contact@atelierboussole.com<br>
  Hébergement<br>
  Hébergeur : VERCEL<br>
  Adresse : 340 S Lemon Ave #4133, Walnut, CA 91789<br>
  Site de l’hébergeur : https://vercel.com/<br>
</p>
<h3>Développeur</h3>
<p>
  Développeur du site : Etienne Moureton<br>
  Adresse : 1 rue Moebius, 33320 Eysines<br>
  Site du développeur : https://etiennemoureton.fr<br>
</p>
<h3>Crédits</h3>
<p>
  Création et conception graphique : Etienne Moureton<br>
  Photographies : L’Atelier & la Boussole et https://unsplash.com/<br>
</p>

<h3>La reproduction sur support électronique</h3>
<p>
  La reproduction de tout ou partie du site atelierboussole.com sur support électronique est formellement
  interdite sauf autorisation expresse de l’Atelier & la Boussole.
</p>
<h3>La reproduction sur support papier</h3>
<p>
  La reproduction sur support papier est autorisée pour une utilisation à des fins privées sous réserve du
  respect de l'intégrité des documents reproduits ou par courte citation avec mention claire et lisible de
  la source sous la forme suivante "Source : www.atelierboussole.com, tous droits réservés".
  Toute autre utilisation est soumise à l'accord préalable et exprès de l’Atelier & la Boussole.
  <br><br>En application de la loi du 11 mars 1957 (art. 41) et du code de la propriété intellectuelle du 1er juillet
  1992, toute reproduction partielle ou totale à usage collectif est strictement interdite sans autorisation
</p>
<h3>Les marques et logos</h3>
<p>
  Les marques et logos cités sur le site sont déposés par les sociétés ou organismes qui en sont
  propriétaires. Leur reproduction ou utilisation est interdite sauf autorisation expresse des titulaires des
  marques.
</p>
<h3>Les liens</h3>
<p>
  La mise en place d'un lien hypertexte pointant vers atelierboussole.com est autorisé sous demande à :
  contact@atelierboussole.com. Mentionner la source "L’Atelier & la Boussole" qui pointera grâce à un
  lien hypertexte directement sur le contenu visé.
  <br><br>La mise en place des liens et les informations utilisées ne doivent l'être qu'à des fins personnelles,
  associatives ou professionnelles. Toute utilisation à des fins commerciales ou publicitaires est exclue.
  <br><br>L'Atelier & la Boussole décline toute responsabilité concernant le contenu de sites liés à son site et plus
  généralement du fait de ces liens.
</p>
    </section>
  </div>
</template>

<style lang="scss">
.mentions-legales {
  section {
    max-width: 800px;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
    opacity: 0.7;
  }
}
</style>