.contact-form {
  form {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2rem 4rem;
    grid-template-areas: ". ." ". ." "full-width full-width" ". .";

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      grid-template-areas: ".";
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    .label {
      margin-bottom: 1rem;
    }

    input,
    textarea {
      padding: 1.5rem 2rem;
      border-radius: 3px;
      border: 3px solid var(--grey-light);
      background-color: var(--grey-light);
      transition: border 0.1s ease-in-out;
      outline: none;

      &::placeholder {
        transition: border 0.1s ease-in-out, color 0.1s ease-in-out;
      }

      &.inputerror {
        border-bottom-color: #ffa6a6;
        &::placeholder {
          color: #ffa6a6;
          font-weight: 600;
        }
      }
    }

    textarea {
      height: 200px;
    }

    &.full-width {
      grid-area: full-width;

      @include media-breakpoint-down(md) {
        grid-area: unset;
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
  }

  &__error {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffa6a6;
    border-radius: 0.5rem;
    margin-top: 3rem;
  }

  .sending {
    position: absolute;
  }
}
