<template>
  <div class="contact-form">
    <form ref="form">
      <div class="contact-form__field">
        <label class="label">Nom</label>
        <input type="text" placeholder="Votre nom" v-model="lastName" @input="inputChange" />
      </div>
      <div class="contact-form__field">
        <label class="label">Prénom</label>
        <input type="text" placeholder="Votre prénom" v-model="firstName" @input="inputChange" />
      </div>
      <div class="contact-form__field">
        <label class="label">Mail</label>
        <input type="email" placeholder="Votre mail" v-model="email" @input="inputChange" />
      </div>
      <div class="contact-form__field">
        <label class="label">Téléphone</label>
        <input
          pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}"
          type="tel"
          placeholder="Votre téléphone"
          v-model="phone"
          @input="inputChange"
        />
      </div>
      <div class="contact-form__field full-width">
        <label class="label">Texte du message</label>
        <textarea placeholder="Dîtes-nous tout" v-model="message" @input="inputChange"></textarea>
      </div>
      <div @click="handleSubmit" class="contact-form__submit">
        <custom-button type="primary orange" content="Envoyer" />
      </div>
    </form>
    <p class="sending" v-if="state">{{state}}</p>
  </div>
</template>

<script lang="js" src="./contactform.js"></script>
<style lang="scss" src="./contactform.scss"></style>
