.ateliers {
  &__events {
    &__grid {
      display: flex;
      gap: 5rem;
    }

    h3 {
      font-size: 1.5rem;
      color: var(--grey-dark);
      opacity: 0.5;
      margin-top: 0;
      text-transform: uppercase;
    }

    &__card {
      &:not(.no-element) {
        box-shadow: 0 0 4rem rgb(0 0 0 / 10%);
        padding: 2rem;
        border-radius: 1rem;
        background-color: white;
      }

      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0;
      }
    }
  }
}