<template>
  <div class="page ateliers">
    <layout-the-page-heading
      title="Ateliers"
      :text="page.data.headingContent"
    />
    <section class="ateliers__events container">
      <div class="section-title heading--small">
        <h2>Réserve ta place pour :</h2>
      </div>
      <div class="ateliers__events__grid">
        <div class="ateliers__events__item">
          <h3>Conférence à venir</h3>
          <div
            class="ateliers__events__card"
            v-if="
              incomingEvents.conférence &&
              new Date(incomingEvents.conférence.data.date) > new Date()
            "
          >
            <p class="ateliers__events__card__title">
              {{ incomingEvents.conférence.data.title }}
            </p>
            <p>
              {{
                new Date(
                  incomingEvents.conférence.data.date
                ).toLocaleDateString("fr")
              }}
            </p>
            <custom-button
              type="primary orange small"
              content="En savoir plus"
              :to="'/events/' + incomingEvents.conférence.uid"
            />
          </div>
          <div class="ateliers__events__card no-element" v-else>
            <p>Aucun évenement à venir</p>
          </div>
        </div>
        <div class="ateliers__events__item">
          <h3>Atelier à venir</h3>
          <div
            class="ateliers__events__card"
            v-if="
              incomingEvents.atelier &&
              new Date(incomingEvents.atelier.data.date) > new Date()
            "
          >
            <p class="ateliers__events__card__title">
              {{ incomingEvents.atelier.data.title }}
            </p>
            <p>
              {{
                new Date(incomingEvents.atelier.data.date).toLocaleDateString(
                  "fr"
                )
              }}
            </p>
            <custom-button
              type="primary orange small"
              content="En savoir plus"
              :to="'/events/' + incomingEvents.atelier.uid"
            />
          </div>
          <div class="ateliers__events__card no-element" v-else>
            <p>Aucun évenement à venir</p>
          </div>
        </div>
        <div class="ateliers__events__item">
          <h3>Café rencontres à venir</h3>
          <div
            class="ateliers__events__card"
            v-if="
              incomingEvents.caférencontre &&
              new Date(incomingEvents.caférencontre.data.date) > new Date()
            "
          >
            <p class="ateliers__events__card__title">
              {{ incomingEvents.caférencontre.data.title }}
            </p>
            <p>
              {{
                new Date(
                  incomingEvents.caférencontre.data.date
                ).toLocaleDateString("fr")
              }}
            </p>
            <custom-button
              type="primary orange small"
              content="En savoir plus"
              :to="'/events/' + incomingEvents.caférencontre.uid"
            />
          </div>
          <div class="ateliers__events__card no-element" v-else>
            <p>Aucun évenement à venir</p>
          </div>
        </div>
      </div>
    </section>
    <section class="ateliers__infos container">
      <div class="ateliers__infos__item">
        <div class="section-title heading--small">
          <h2>Accessibilité</h2>
        </div>
        <p>
          Pour toutes les situations nécessitant une adaptation nous trouverons
          celle qui vous correspondra. <br /><br />Pour toutes Personnes en
          Situation d’Handicap et/ou ayant une mobilité réduite nous nous
          référons à la loi n°2015-102. (du 11 février 2005 pour l'égalité des
          droits et des chances, la participation et la citoyenneté des
          personnes handicapées). Un référent handicap est à votre disposition
          dans notre organisme, si vous souhaitez la contacter :-
          contact@atelierboussole.com
        </p>
      </div>
    </section>
    <section class="ateliers__infos container">
      <div class="ateliers__infos__item">
        <div class="section-title heading--small">
          <h2>Tarifs</h2>
        </div>
        <p>
          <span>« Atelier ou conférence » – à partir de 40€</span><br />
          <span>« Café rencontres ou visioconférence » – à partir de 15 €</span>
        </p>
      </div>
    </section>
  </div>
</template>

<style lang="scss" src="./ateliers.scss"></style>

<script>
export default {
  data() {
    return {
      events: [],
      incomingEvents: {
        conférence: undefined,
        atelier: undefined,
        caférencontre: undefined,
      },
    };
  },

  async asyncData({ $prismic, params, error }) {
    const page = await $prismic.api.getSingle("ateliers");
    if (page) {
      return { page };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },

  async mounted() {
    this.events = await this.$prismic.api.query(
      this.$prismic.predicates.at("document.type", "events")
    );
    this.incomingEvents.conférence = this.events.results
      .filter((ev) => ev.data.type === "Conférence")
      .sort((a, b) => {
        return new Date(b.data.date) - new Date(a.data.date);
      })[0];
    this.incomingEvents.atelier = this.events.results
      .filter((ev) => ev.data.type === "Atelier")
      .sort((a, b) => {
        return new Date(b.data.date) - new Date(a.data.date);
      })[0];
    this.incomingEvents.caférencontre = this.events.results
      .filter((ev) => ev.data.type === "Café rencontres")
      .sort((a, b) => {
        return new Date(b.data.date) - new Date(a.data.date);
      })[0];
  },
};
</script>
