<template>
  <div class="posts-list">
    <div class="posts-list__wrapper" :class="columns">
      <nuxt-link
        v-for="post in posts.results"
        :key="post.id"
        :to="'/actualités/' + post.uid"
        class="posts-list__item"
      >
        <img :src="post.data.cover.url" />
        <div class="posts-list__item__content">
          <p class="posts-list__item__title">{{ post.data.title }}</p>
          <p class="posts-list__item__date">
            {{ new Date(post.last_publication_date).toLocaleDateString("fr") }}
          </p>
          <div class="posts-list__item__categories">
            <p v-for="tag in post.tags" :key="tag">
              {{ tag }}
            </p>
          </div>
          <p>{{ post.data.seo[0].description }}</p>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<style lang="scss" src="./postslist.scss"></style>
<script lang="js" src="./postslist.js"></script>
