.posts-list {
  &__wrapper {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    gap: 5rem;

    &.short {
      grid-template-columns: repeat(3, minmax(10rem, 1fr));

      .posts-list__item {
        flex-direction: column;

        img, &__content {
          width: 100%;
        }
      }
    }

    &.wide {
      grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }

  &__item {
    display: flex;
    text-decoration: none;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--grey-light);
    border-radius: 3px;
    @include comein(1, 20);

    img {
      width: 30%;
      height: 130px;
      object-fit: cover;
      border-radius: 3px;
    }

    &__title {
      color: black;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &__content {
      width: 70%;
    }

    p {
      margin: 0;
      color: black;
    }

    &__categories {
      display: flex;
      gap: 1rem;
      margin: 1rem 0 3rem 0;

      p {
        padding: 0.2rem 1rem;
        border-radius: 3px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: var(--orange--light);
        color: var(--orange--dark);
        font-size: 1.2rem;
      }
    }
  }
}
