<template>
  <div class="page qui-sommes-nous">
    <layout-the-page-heading
      :title="page.data.title"
      :text="page.data.headingContent"
    />
    <div class="qui-sommes-nous__content container">
      <div class="qui-sommes-nous__persons">
        <div class="qui-sommes-nous__persons__chooser">
          <div
            @click="choice = 'marieanne'"
            :class="choice === 'marieanne' ? 'choice' : ''"
            class="qui-sommes-nous__persons__item__header"
          >
            <nuxt-picture
              src="/marie-anne.webp"
              :imgAttrs="{
                class: 'bg',
              }"
            />
            <div>
              <h2>Marie-Anne Balat</h2>
              <p class="traits">{{ page.data.marieanne[0].traits }}</p>
              <PrismicRichText
                class="quote"
                :field="page.data.marieanne[0].quote"
              />
            </div>
          </div>
        </div>

        <div class="qui-sommes-nous__persons__item">
          <div
            :key="choice"
            v-if="choice === 'marieanne'"
            :class="choice === 'marieanne' ? 'choice' : ''"
            class="qui-sommes-nous__persons__item__content"
          >
            <div class="card">
              <div class="card__header">
                <UserIcon />
                <p>Personnalité</p>
              </div>
              <div class="card__content">
                <PrismicRichText :field="page.data.marieanne[0].personnalite" />
              </div>
            </div>
            <div class="card">
              <div class="card__header">
                <StarIcon />
                <p>Mission</p>
              </div>
              <div class="card__content">
                <PrismicRichText :field="page.data.marieanne[0].mission" />
              </div>
            </div>

            <div class="card">
              <div class="card__header">
                <PenToolIcon />
                <p>Vie professionnelle</p>
              </div>
              <div class="card__content">
                <PrismicRichText
                  :field="page.data.marieanne[0].vieprofessionnelle"
                />
              </div>
            </div>
            <div class="card">
              <div class="card__header">
                <EyeIcon />
                <p>L'envie pour l'Atelier & la Boussole</p>
              </div>
              <div class="card__content">
                <PrismicRichText :field="page.data.marieanne[0].lenvie" />
              </div>
            </div>

            <div class="card">
              <div class="card__header">
                <SendIcon />
                <p>Le mot de la fin</p>
              </div>
              <div class="card__content">
                <PrismicRichText :field="page.data.marieanne[0].lemotdelafin" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./qui-sommes-nous.scss"></style>

<script>
import UserIcon from "../../assets/img/user.svg?inline";
import StarIcon from "../../assets/img/star.svg?inline";
import PenToolIcon from "../../assets/img/pen-tool.svg?inline";
import EyeIcon from "../../assets/img/eye.svg?inline";
import SendIcon from "../../assets/img/eye.svg?inline";

export default {
  components: {
    UserIcon,
    StarIcon,
    PenToolIcon,
    EyeIcon,
    SendIcon,
  },

  data() {
    return {
      choice: "marieanne",
    };
  },

  async asyncData({ $prismic, params, error }) {
    const page = await $prismic.api.getSingle("qui-sommes-nous");
    if (page) {
      return { page };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
};
</script>
