.qui-sommes-nous {
  &__content {
    margin-top: 10rem;
    padding-top: 0;
    padding-bottom: 0 !important;

    &__heading {
      padding-top: 0;

      p {
        font-size: 1.4rem;
      }
    }
  }

  &__persons {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    margin: 0;

    &__chooser {
      display: flex;
      gap: 5rem;
      width: 100%;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 2rem;
      }
    }

    &__item {
      width: 100%;
      display: flex;
      gap: 5rem;

      &__header {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        padding: 2rem;
        border-radius: 3px;
        cursor: pointer;
        border: 2px solid white;
        transition: background-color 0.3s var(--easing--primary),
          transform 0.7s var(--easing--primary),
          border-color 0.7s var(--easing--primary);

        &.choice {
          background-color: var(--grey-light);
          transform: translateY(-2rem);
          border-color: rgb(234 234 234 / 70%);

          @include media-breakpoint-up(md) {
            width: 50%;
          }
        }

        p {
          margin: 0;
        }

        img {
          width: 100px;
          height: 100px;
        }

        h2 {
          margin: 0;
          font-size: 2rem;
          text-transform: uppercase;
        }

        .traits {
          color: var(--orange--dark);
          font-size: 1.3rem;
          margin-bottom: 2rem;
        }

        .quote {
          p,
          span {
            font-size: 1.4rem;
          }
        }
      }

      &__content {
        width: 100%;
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5rem;
        grid-template-areas:
          ". ."
          ". ."
          ". .";

        @include media-breakpoint-down(md) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, auto);
          grid-template-areas: ".";
        }
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    @include comein(1, 20);

    &__header {
      display: flex;
      align-items: center;
      gap: 1rem;

      p {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #4e4e4e;
      }

      svg {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
        background-color: var(--orange--light);
        stroke: #ffcdb6;
        stroke: var(--orange--dark);
        border-radius: 100%;
      }
    }

    p {
      font-size: 1.3rem;
      text-align: justify;
    }
  }
}
