<template>
  <div class="page__heading container">
    <ul typeof="BreadcrumbList">
      <li property="itemListElement" typeof="ListItem">
        <nuxt-link property="item" typeof="WebPage" to="/">
          <span property="name">Accueil</span>
        </nuxt-link>
        <meta property="position" content="1" />
      </li>
      <li
        v-for="(crumb, index) in crumbs"
        :key="index"
        property="itemListElement"
        typeof="ListItem"
      >
        <nuxt-link property="item" typeof="WebPage" :to="crumb.path">
          <span property="name"
            >&nbsp;/&nbsp;{{
              $route.fullPath === crumb.path && title !== null
                ? title
                : crumb.title
            }}</span
          >
        </nuxt-link>
        <meta property="position" :content="index + 2" />
      </li>
    </ul>

    <h1>{{ title }}</h1>

    <PrismicRichText v-if="text" class="page__heading__content" :field="text" />
  </div>
</template>

<script lang="js" src="./thepageheading.js"></script>
<style lang="scss" src="./thepageheading.scss"></style>
