.page__heading {
  padding-top: 0;
  padding-bottom: 0;

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;

      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        text-transform: uppercase;

        span {
          font-size: 1rem;
        }
      }
    }
  }

  &__content {
    padding-top: 0;

    p {
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
}
