<template>
  <section class="article__content">
    <PrismicRichText :field="slice.primary.description" />
  </section>
</template>

<script>
import { getSliceComponentProps } from "@prismicio/vue/components";

export default {
  name: "TextElement",
  // The array passed to `getSliceComponentProps` is purely optional and acts as a visual hint for you
  props: getSliceComponentProps(["slice", "index", "slices", "context"]),
};
</script>

<style lang="scss">
.article__content {
  color: #111;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  * {
    text-align: left;
  }

  p {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.5;
  }
}
</style>
