<template>
  <div class="page event">
    <layout-the-page-heading :title="post.data.title" />
    <div class="event-content container">
      <section class="event__infos">
        <div class="section-title heading--small">
          <h3>Informations</h3>
        </div>
        <div class="event__infos__content">
          <PrismicRichText class="event__infos__resume" :field="post.data.description" />
          <div class="event__infos__places"><p><user-icon/>{{ post.data.places - booked }} place(s) disponibles</p></div>
          <div class="event__infos__date"><p><calendar-icon/>{{ new Date(post.data.date).toLocaleString('fr').slice(0, 10) }}</p></div>
          <div class="event__infos__location"><p><location-icon/>{{ post.data.adress }}</p></div>
          <div class="event__infos__price" v-if="post.data.price" ><p><coin-icon/>{{ price }}€</p></div>
          <custom-button type="btn primary orange" content="Réservation" to="#reservation" />
        </div>
        <div id="map"></div>
      </section>
      <section class="container container--small" v-if="post.data.slices">
        <slice-zone :components="components" :slices="post.data.slices" />
      </section>
      <section class="event__reservation" id="reservation">
        <div class="section-title heading--small">
          <h3>Réservation</h3>
        </div>
        <form :class="[post.data.places > 0 ? 'available' : 'disabled']">
          <div class="contact-form__field">
            <label class="label">Prénom</label>
            <input ref="firstName" type="text" placeholder="Votre prénom" value="">
          </div>
          <div class="contact-form__field">
            <label class="label">Nom</label>
            <input ref="lastName" type="text" placeholder="Votre nom" value="">
          </div>
          <div class="contact-form__field">
            <label class="label">Mail</label>
            <input ref="mail" type="mail" placeholder="Votre mail">
          </div>
          <div class="contact-form__field">
            <label class="label">Téléphone</label>
            <input ref="phone" type="tel" placeholder="Votre téléphone" value="">
          </div>
          <custom-button type="btn primary orange" content="Je réserve" @clickButton="checkout" />
        </form>
      </section>
    </div>
  </div>
</template>

<style lang="scss" src="./event.scss"></style>
<script>
import mapboxgl from 'mapbox-gl';
import 'mapbox-gl/dist/mapbox-gl.css';
import { components } from "~/slices";
import CalendarIcon from '../../assets/img/calendar.svg?inline'
import UserIcon from '../../assets/img/user.svg?inline'
import LocationIcon from '../../assets/img/map-pin.svg?inline'
import CoinIcon from '../../assets/img/coin.svg?inline'

export default {
  components: {
    CalendarIcon,
    UserIcon,
    LocationIcon,
    CoinIcon
  },
  data() {
    return { 
      components,
      price: 0,
      booked: 0,
    };
  },
  async asyncData({ $prismic, params, error }) {
    const post = await $prismic.api.getByUID("events", params.uid);
    if (post) {
      return { post };
    } else {
      error({ statusCode: 404, message: "Article not found" });
    }
  },

  mounted() {
    this.initMap()
    this.getPrice(this.post.id)
  },

  methods: {
    initMap() {
      mapboxgl.accessToken = 'pk.eyJ1IjoiZXRpZW5uZW1wcm8iLCJhIjoiY2wzbHA0NmlnMGlqaTNjcDN6a211cGU3bSJ9.KO2RwjfkawmrRaPxXlI1eA';
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [this.post.data.place.longitude, this.post.data.place.latitude],
        zoom: 15
      });
      new mapboxgl.Marker()
      .setLngLat([this.post.data.place.longitude, this.post.data.place.latitude])
      .addTo(map);
    },
    async getPrice(id) {
      const data = await this.$events.getEvent({ id: id })
      this.price = data.price
      this.booked = data.persons.length
    }, 
    async checkout() {
      const url = await this.$checkout.getCheckout({
        order: 'none',
        name: "conférence",
        metadata: {
          type: 'event',
          mail: this.$refs.mail.value,
          phone: this.$refs.phone.value,
          fullName: this.$refs.firstName.value + this.$refs.lastName.value,
          event: this.post.id
        },
        successUrl: process.env.APP_URL + "/events/reservation/",
        cancelUrl: process.env.APP_URL + "/reservation/",
      });
      window.location.href = url;
    }
  }
};
</script>
