.event {
  &-content {
    > *:not(:last-child) {
      margin-bottom: 10rem;
    } 
  }

  &__infos {
    display: flex;
    column-gap: 10rem;
    flex-wrap: wrap;

    .section-title {
      width: 100%;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      height: fit-content;
      column-gap: 4rem;
      row-gap: 2rem;
      max-width: 500px;

      > div {
        border-radius: 0.5rem;

        p {
          font-size: 1.5rem;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          gap: 1rem;
          color: black;

          svg {
            width: 4rem;
            height: 4rem;
            background-color: var(--blue--light);
            padding: 1rem;
            border-radius: 0.5rem;
            color: var(--blue--dark);
          }

          strong {
            font-weight: 700;
          }
        }
      }

      .btn {
        margin: 5rem 0 0 0;
      }
    }

    &__resume {
      text-align: justify;
      margin-bottom: 5rem;
    }
  }

  #map {
    width: auto;
    flex-grow: 3;
    height: 500px;
    border-radius: 2rem;
    box-shadow: 0 0 4rem rgb(0 0 0 / 10%);

    .mapboxgl-ctrl-attrib {
      display: none;
    }
  }

  &__reservation {
    form {
      display: grid;
      grid-auto-flow: row dense;
      grid-auto-rows: auto;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 2rem 4rem;
      gap: 2rem 4rem;
      grid-template-areas:
          ". ."
          ". ."
          ". .";

      .btn {
        margin-top: 3rem;
      }

      &.disabled {
        position: relative;

        input, textarea, label, .btn {
          filter: blur(2px);
        }

        &:after {
          content: "Aucune place disponible";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          font-weight: 800;
        }
      }
    }
  }
}