<template>
  <div class="page success">
    <div class="success__wrapper container">
      <div class="completed" v-if="order.completed">
        <Check class="check" />
        <h1>Réservation confirmée</h1>
        <p>
          Vous allez recevoir un mail de confirmation de rendez-vous, nous vous
          contacterons rapidement avec le lien sur lequel vous connecter pour
          participer à l'appel.
        </p>
        <div class="success__data">
          <p class="mail"><span>Mail : </span>{{ order.mail }}</p>
          <p class="time">
            <span>Le : </span>
            {{ new Date(order.event.start.dateTime).toLocaleDateString("fr") }}
            à {{ new Date(order.event.start.dateTime).getHours() }}h{{
              (new Date(order.event.start.dateTime).getMinutes().toString().length !== 1 ? "" : "0")
            }}{{ new Date(order.event.start.dateTime).getMinutes() }}
          </p>
          <custom-button
            to="/"
            class="btn primary orange"
            content="Retour à l'accueil"
          />
        </div>
      </div>
      <div v-else class="loading">
        <loader color="#FB6C29" />
        <p class="h1">En attente de validation</p>
        <p>
          Nous validons le paiement et vérifions une derniere fois la
          disponibilité de votre rendez-vous. Merci de patienter quelques
          instants.
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./success.scss"></style>
<script>
import Check from "~/assets/img/check-circle.svg?inline";

export default {
  components: {
    Check,
  },

  asyncData({ params }) {
    return {
      id: params.id,
    };
  },

  data() {
    return {
      order: {},
    };
  },

  async mounted() {
    this.order = await this.$atelierboussole.getOrder({orderID: this.id})
    if (this.order.completed === false) {
      await this.$events.createEvent({
        event: this.order.event
      })

      await this.$atelierboussole.editOrder({
        orderID: this.id,
        payload: {
          completed: true,
        }
      })

      this.order.completed = true;

      await this.$atelierboussole.sendConfirmation({payload: {
        mail: this.order.mail,
        event: this.order.event,
      }})

      if(this.order.type === "code") {
        await this.$atelierboussole.editCode({
          codeID: this.order.code.id,
          payload: {
            credit: this.order.code.newCredit
          }
        })
      }
    }
  },
};
</script>
