.success {
  &__wrapper {
    max-width: 1000px;
  }

  .check {
    stroke: var(--green--light);
    background-color: black;
    padding: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 3px;
  }

  h1,
  .h1 {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: 600;
  }
  
  h1 {
    background-color: var(--green--light);
  }

  .h1 {
    background-color: var(--orange--wait);
  }

  .completed {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .loading {
    .loader {
      width: 50px;
      height: 50px;
    }
  }

  &__data {
    width: 100%;

    .btn {
      margin-top: 7rem;
      // display: flex;
      // width: fit-content;
    }
  }
}