<template>
  <div class="page cgv">
    <layout-the-page-heading title="Conditions générales de vente" />
    <section class="container">
      <h3>Article1 : Désignation</h3>
<p>
  La société SARL L’Atelier & la Boussole désigne un organisme de formation professionnelle, dont le siège social<br>
  est situé au 10 rue de la fourmi 31200 Toulouse . La société L’Atelier & la Boussole met en place et dispense
  des formations intra-entreprises, inter-entreprise, aux particuliers, et sur l’ensemble du territoire national, seule
  ou en partenariat.<br><br>
  Ci-après la « Société ».
  D’une part,<br><br>
  Et la personne physique ou morale procédant à toute commande de prestation de la société,
  Ci-après, « le Client »<br><br>
  D’autre part,<br><br>
  Il a été exposé et convenu ce qui suit :
</p>

<h3>Lexique</h3>
<p>
  Par client s’entend toute personne physique ou morale qui s’inscrit ou passe commande d’une formation auprès
  de la société L’Atelier et la Boussole.
  Par Bénéficiaire s’entend la personne physique qui participe à une formation.
  Par CGV s’entend les conditions générales de vente, détaillées ci-dessous.
  Par OPCO s’entend les opérateurs de compétence chargés de collecter et gérer l’effort de formation des
  entreprises.
</p>
<h3>Article 2 : Objet et champ d’application</h3>
<p>
  Les présentes Conditions Générales de Vente déterminent les conditions applicables aux prestations effectuées
  par la société L’Atelier & la Boussole pour le compte d’un client. Toute commande auprès de la société implique
  l’acception sans réserve du client des présentes Conditions Générales de Vente. Ces conditions prévalent sur
  tout autre document du client, en particulier sur toutes conditions générales d’achat.<br><br>
  L’Atelier & la Boussole produit des services à destination de client, commercialisés par l’intermédiaire également
  de son site Internet (http://atelierboussole.com). La liste et le descriptif des services proposés par la Société
  peuvent être consultés sur le site susmentionnés.<br><br>
  La société se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une nouvelle
  version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à la date du paiement de la
  commande. Ces CGV sont consultables sur le site Internet de la Société à l'adresse suivante :
  <a href="https://www.atelierboussole.com">https://www.atelierboussole.com</a>.
</p>

<h3>Achat de prestations :</h3>
<p>
  L'achat de prestations à l’Atelier & la Boussole prend l'une des formes suivantes :<br>
  • un devis préalable avec les mentions obligatoires,<br>
  • une convention ou un contrat de formation professionnelle,<br>
  • un contrat de prestation de service.<br><br>
  La conclusion d'une convention professionnelle est obligatoire pour l'organisation des prestations
  ci-dessous :<br>
  • bilan de compétences,<br>
  • actions de validation des acquis de l'expérience,<br>
  • actions pluriannuelles de formation professionnelle,<br>
  • contrats de professionnalisation.<br>
</p>
<h3>Article 3 : Inscriptions</h3>
<p>
  Toute inscription réalisée sur le site web est prise en compte instantanément. Vous recevez par email un accusé
  de réception de vos inscriptions. Vous pouvez également réaliser une inscription à l’aide des bulletins
  d’inscriptions présents sur le site internet en les renvoyant par email ou par courrier.<br><br>
  On peut également vous les adresser directement sur demande.<br><br>
  En cas de prise en charge du paiement d’une formation par un organisme extérieur (OPCO), il appartient, au
  responsable de l’inscription, de communiquer à l’Atelier & la Boussole les coordonnées complètes de celui-ci et
  de communiquer à cet organisme extérieur tous les éléments qui lui sont indispensables pour assurer ce
  paiement.<br><br>
  En cas de prise en charge partielle par cet OPCO, la différence de coût vous est facturée directement. Si votre
  OPCO ne confirme pas la prise en charge de votre formation avant son démarrage, le coût de cette formation
  sera facturé dans sa totalité à votre entreprise.
</p>

<h3>Article 4 : Confirmation d’inscription, devis, convocations et attestation</h3>
<p>
  Dès réception d’un bulletin d’inscription, une confirmation d’inscription et une convention de formation seront
  adressées au responsable de cette inscription.<br><br>
  15 jours avant le début de la formation, une convocation qui précise la date, le lieu et les horaires de la formation
  est adressée au responsable de l’inscription et / ou au participant.<br><br>
  À l’issue de chaque formation relevant du champ de la formation professionnelle continue, une attestation ainsi
  qu’une convention simplifiée, une facture de formation professionnelle est adressée au responsable de
  l’inscription.<br><br>
  Pour chaque formation, la société L’Atelier & la Boussole s’engage à fournir un devis au client. Ce dernier est
  tenu de retourner à la société un exemplaire renseigné, daté et signé, avec la mention « Bon pour accord ».
  Une attestation de présence ou de fin de formation lui sera fournie.<br><br>
</p>
<h3>Article 5 : Prix et modalités de paiement</h3>
<p>
  Les prix des prestations sont indiqués en euros hors taxes. Toute formation ou cycle commencé est dû dans sa
  totalité.
  Nos prix n’incluent pas les forfaits repas, d’hébergement et de pauses. Sauf dispositions particulières, ils incluent
  les frais pédagogiques, l'utilisation des salles et/ou ateliers de formation ainsi que celle du matériel pédagogique.
  Seules les prestations de formation et les prestations de services qui y sont étroitement liées bénéficient de
  l'exonération de TVA prévue à l'article 261-4-4°a du code général des impôts.
  
  Modalités de paiement :
  En cas de paiement par un OPCO, le paiement est à effectuer après l’exécution de la prestation, à la réception
  de facture, au comptant.

  En cas de financement via le Compte Personnel de Formation (CPF) le paiement s’effectue à l’issue de la
formation à réception de la validation par la Chambre de Dépôts et de Consignation – CDC.
En cas de paiement sur fonds propres, le paiement sera dû suivant le cadencement tel que :
- 30% à l’inscription
- Le solde à l’issue de la formation à réception d'une facture émise par l'organisme de formation à destination du
bénéficiaire ou de l’organisme, au comptant.
Le règlement des factures peut être effectué par virement bancaire ou par chèque.
Dans des situations exceptionnelles, il peut être procédé à un paiement échelonné. En tout état de cause, ses
modalités devront avoir été formalisées avant le démarrage de la formation.
</p>
<h4>Conditions de facturation :</h4>
<p>
  L’organisme de formation adressera au client les factures ainsi que les pièces justificatives correspondantes
  (attestations d’assiduité), étant entendu que l’organisme de formation s’engage à conserver par devers lui les
  travaux réalisés par le stagiaire et / ou tout élément permettant de démontrer le suivi, et le cas échéant,
  l’évaluation de l’action, pendant une durée de quatre ans à compter de la fin de l’action de formation.
  Les heures de formation dispensées par l’organisme de formation sont dues par le client, même à défaut de
  réalisation des travaux demandés aux stagiaires inscrits en formation tels que demandés dans le programme
  détaillé joint.
  Le paiement est exigible immédiatement à la commande pour les prestations vendues sur le site internet. Les
  cartes émises par des banques domiciliées hors de France doivent obligatoirement être des cartes bancaires
  internationales (Mastercard ou Visa). Le paiement sécurisé en ligne par carte bancaire est réalisé par notre
  prestataire de paiement.
  Une fois le paiement lancé par le Client, la transaction est immédiatement débitée après vérification des
  informations. Conformément aux dispositions du Code monétaire et financier, l’engagement de payer donné par
  carte est irrévocable. En communiquant ses informations bancaires lors de la vente, le Client autorise la société
  à débiter sa carte du montant relatif au prix indiqué.
  Le Client confirme qu’il est bien le titulaire légal de la carte à débiter et qu’il est légalement en droit d’en faire
  usage. En cas d’erreur, ou d’impossibilité de débiter la carte, la Vente est immédiatement résolue de plein droit
  et la commande annulée.
</p>

<h4>Prise en charge par son OPCO :</h4>
<p>
  Le client pourra solliciter le paiement de ces frais de formation par son OPCO.À défaut d’avoir transmis à
  l’organisme de formation, par tout moyen écrit, au plus tard au jour du démarrage de l’action de formation, les
  noms et coordonnées de l’OPCO prenant en charge tout ou partie du coût de l’action, l’organisme de formation
  se réserve le droit de facturer directement le client pour le montant total des sommes dues en application des
  présentes.
  Dans le cadre de la subrogation, les factures des frais de formation, accompagnées des pièces justificatives
  correspondantes (attestations d’assiduité des stagiaires concernés) seront adressées directement à l’OPCO.
  Dans l’hypothèse où l’OPCO ne prendrait pas en charge la totalité du financement de la formation, quel qu’en
  soit le motif, le client reste tenu du paiement du coût total de la formation envers l’organisme de formation.
  Dans ce cas, une facture du montant non pris en charge par l’OPCO sera adressée au client.
</p>
<h4>Pénalités de retard :</h4>
<p>
  La date de règlement figurant sur la facture constitue le point de départ pour le calcul des pénalités
  de retard. Pour toute somme non payée à l’échéance prévue, le client sera de plein droit redevable :
  - de pénalités de retard, équivalentes au taux d’intérêt appliqué par la Banque Centrale Européenne à son
  opération de refinancement la plus récente majoré de dix (10) points.
  - du paiement d’une indemnité forfaitaire d’un montant net de 40 €, due au titre des frais de recouvrement,
  conformément aux articles L441-6 du code du commerce.
  L’Atelier & la Boussole se réserve la possibilité de modifier ses prix à tout moment pour l’avenir.
</p>
<h3>Article 6 : Délai de rétractation</h3>
<p>
  A compter de la date de signature du présent contrat, le client dispose conformément aux dispositions de l’article
  L 6353-5 du Code du Travail d'un délai de 10 jours ouvrés pour se rétracter par lettre recommandée avec accusé
  de réception. Dans ce cas, il n'est redevable d'aucune somme envers l'organisme de formation.
</p>
<h3>Article 7 : Prise en charge</h3>
<p>
  Si le client bénéficie d’un financement par un Opérateurs de compétences (OPCO), il doit faire une demande de
  prise en charge avant le début de la prestation. Le client est tenu de fournir l’accord de financement lors de
  l’inscription. Dans le cas où L’Atelier & la Boussole ne reçoit pas la prise en charge de l’OPCO au premier jour
  de la formation, l’intégralité des coûts de formation sera facturée au client.
</p>
<h3>Article 8 : Conditions de report et d’annulation d’une séance de formation</h3>
<p>
  L’annulation d’une séance de formation est possible, à condition de le faire au moins 10 jours calendaires avant
  le jour et l’heure prévus. Toute annulation doit faire l’objet d’une notification par e-mail à l’adresse
  contact@atelierboussole.com.
  En application de l’article L.6354-1 du Code du travail, il est convenu entre les signataires de la présente
  convention, que faute de réalisation totale ou partielle de la prestation de formation de son fait, l’organisme
  prestataire doit rembourser au cocontractant les sommes indûment perçues de ce fait.
  En cas de renoncement par l’organisme de formation à l’exécution de la présente convention, l’organisme de
  formation s’engage au remboursement total des sommes reçues.
  En cas de renoncement par le bénéficiaire à l’exécution de la présente convention dans un délai inférieur à 8
  jours avant la date de démarrage de la prestation de formation, objet de la présente convention, le bénéficiaire
  s’engage au versement d’une indemnité de 30% du prix de la formation à titre de dédommagement pour frais
  administratif, et composition du dossier administratif.
  Cette indemnité n’est pas imputable sur l’obligation de participation au titre de la formation professionnelle
  continue du client bénéficiaire et ne peut faire l’objet d’une demande de remboursement ou de prise en charge
  par l’OPCO.
  En cas de réalisation partielle :
  Le bénéficiaire s’engage au versement d’une indemnité de 30% du prix de la formation à titre de
  dédommagement administratif. Plus un versement au prorata temporis du prix de la formation reçue par les
  participants. Soit le versement de 50% du prix total de la formation pour les personnes qui auront suivi
  uniquement la moitié des sessions de formation-action.
  Cette indemnité de 30% n’est pas imputable sur l’obligation de participation de l’employeur au titre de la formation
  professionnelle continue et ne peut faire l’objet d’une demande de remboursement ou de prise en charge par
  l’OPCO. Cette somme sera spécifiée sur la facture, ou fera l’objet d’une facturation séparée et ne doit pas être
  confondue avec les sommes dues au titre de la formation.
  Seul le prix de la prestation réalisée partiellement est facturé au titre de la formation professionnelle.
</p>
<h3>Article 6 : Délai de rétractation</h3>
<p>
  A compter de la date de signature du présent contrat, le client dispose conformément aux dispositions de l’article
  L 6353-5 du Code du Travail d'un délai de 10 jours ouvrés pour se rétracter par lettre recommandée avec accusé
  de réception. Dans ce cas, il n'est redevable d'aucune somme envers l'organisme de formation.
</p>
<h3>Article 7 : Prise en charge</h3>
<p>
  Si le client bénéficie d’un financement par un Opérateurs de compétences (OPCO), il doit faire une demande de
  prise en charge avant le début de la prestation. Le client est tenu de fournir l’accord de financement lors de
  l’inscription. Dans le cas où L’Atelier & la Boussole ne reçoit pas la prise en charge de l’OPCO au premier jour
  de la formation, l’intégralité des coûts de formation sera facturée au client.
</p>
<h3>Article 8 : Conditions de report et d’annulation d’une séance de formation</h3>
<p>
  L’annulation d’une séance de formation est possible, à condition de le faire au moins 10 jours calendaires avant
  le jour et l’heure prévus. Toute annulation doit faire l’objet d’une notification par e-mail à l’adresse
  contact@atelierboussole.com.
  En application de l’article L.6354-1 du Code du travail, il est convenu entre les signataires de la présente
  convention, que faute de réalisation totale ou partielle de la prestation de formation de son fait, l’organisme
  prestataire doit rembourser au cocontractant les sommes indûment perçues de ce fait.
  En cas de renoncement par l’organisme de formation à l’exécution de la présente convention, l’organisme de
  formation s’engage au remboursement total des sommes reçues.
  En cas de renoncement par le bénéficiaire à l’exécution de la présente convention dans un délai inférieur à 8
  jours avant la date de démarrage de la prestation de formation, objet de la présente convention, le bénéficiaire
  s’engage au versement d’une indemnité de 30% du prix de la formation à titre de dédommagement pour frais
  administratif, et composition du dossier administratif.
  Cette indemnité n’est pas imputable sur l’obligation de participation au titre de la formation professionnelle
  continue du client bénéficiaire et ne peut faire l’objet d’une demande de remboursement ou de prise en charge
  par l’OPCO.
  En cas de réalisation partielle :
  Le bénéficiaire s’engage au versement d’une indemnité de 30% du prix de la formation à titre de
  dédommagement administratif. Plus un versement au prorata temporis du prix de la formation reçue par les
  participants. Soit le versement de 50% du prix total de la formation pour les personnes qui auront suivi
  uniquement la moitié des sessions de formation-action.
  Cette indemnité de 30% n’est pas imputable sur l’obligation de participation de l’employeur au titre de la formation
  professionnelle continue et ne peut faire l’objet d’une demande de remboursement ou de prise en charge par
  l’OPCO. Cette somme sera spécifiée sur la facture, ou fera l’objet d’une facturation séparée et ne doit pas être
  confondue avec les sommes dues au titre de la formation.
  Seul le prix de la prestation réalisée partiellement est facturé au titre de la formation professionnelle.
</p>
    </section>
  </div>
</template>

<style lang="scss">
.cgv {
  section {
    max-width: 800px;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
    opacity: 0.7;
  }
}
</style>