<template>
  <div class="page">
    <div class="event__reservation" v-if="session.metadata">
      <p>{{ session.metadata.mail }}</p>
      <p>{{ session.metadata.phone }}</p>
      <p>{{ session.metadata.fullName }}</p>
      <p>{{ session.metadata.event }}</p>
    </div>
    <div class="event__loader" v-else>
      <p>Chargement...</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      session: {},
    }
  },
  async mounted() {
    this.session = await this.$checkout.getSession({id: this.$route.query.session_id})
    this.$events.bookEvent({
      id: this.session.metadata.event,
      payload: {
        mail: this.session.metadata.mail,
        phone: this.session.metadata.phone,
        fullName: this.session.metadata.fullName,
        payment: "card"
      }
    })
  },
}
</script>