<template>
  <div class="orientation">
    <div class="orientation__container">
      <CompassIcon class="compass"/>
      <CloseIcon class="close" @click="handleClose"/>
      <p class="orientation__title">Laissez-nous vous guider</p>
      <p class="orientation__intro">Aidez-nous à comprendre vos besoins en répondant à ces quelques questions. Vous serez guidés sur la manière dont l'on peut vous aider.</p>
      <div class="orientation__stepper">
        <div class="orientation__stepper__container">
          <div :class="['orientation__stepper__item', index === step && 'actual', index < step && 'complete']" v-for="(i, index) in steps" :key="index">
            <p>{{ index + 1 }}</p>
            <div class="stepperbar" v-if="index < steps.length - 1">
              <div class="progress"></div>
            </div>
            <CheckIcon/>
          </div>
        </div>
      </div>
      <div class="orientation__form">
        <p class="orientation__form__question" :key="questions[current].text">{{ questions[current].text }}</p>
        <div class="orientation__form__choices" v-if="current !== 'r'">
          <div v-for="(choice, index) in questions[current].choices" :key="index + choice" :class="[index == choices[current] ? ' choosed ' : 'dsq', 'orientation__form__choice']" @click="handleChoice" :value="index">{{ choice }}</div>
        </div>
        <div class="orientation__form__results" v-else>
          <div v-for="(choice, index) in questions.r.choices" :key="index" class='orientation__form__result'>
            <a target="_blank" :href="choice.link">{{ choice.title }}</a>
          </div>
        </div>
      </div>
      <custom-button class="btn" type="primary orange" content="Suivant" @clickButton="next" />
    </div>
  </div>
</template>

<script lang="js" src="./orientation.js"></script>
<style lang="scss" src="./orientation.scss"></style>