.orientation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__container {
    width: 100%;
    max-width: 90rem;
    background-color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;

    .compass {
      width: 25rem;
      height: 25rem;
      opacity: 0.05;
      position: absolute;
      right: -10rem;
      bottom: -5rem;
      
      path {
        stroke: var(--orange--dark);
        stroke-width: 25;
      }
    }

    .close {
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  } 

  &__title {
    font-size: 3rem;
    margin: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__form {
    &__question {
      font-size: 2rem;
      margin: 0 0 4rem 0;
      position: relative;

      &::after {
        content: "";
        height: 0.2rem;
        width: 5rem;
        background-color: var(--orange--dark);
        position: absolute;
        left: 0;
        bottom: -1rem;
      }
    }

    &__choices, &__results {
      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1rem;
      gap: 1rem;
    } 
  
    &__choice {
      background-color: var(--blue--light);
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
      border: 2px solid var(--blue--light);
      font-weight: 400;
      color: black;
      display: flex;
      align-items: center;
      @include comein(0, 20, 0.7s, 0.2s);

      &.choosed {
        border-color: var(--blue--dark);
        color: var(--blue--dark);
        font-weight: 600;
      }

      &:hover {
        transform: translateY(-0.2rem);
      }
    }

    &__result {
      a {
        color: black;
      }
    }
  }

  .btn {
    margin: 5rem 0 0 0;
  }

  &__stepper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 0;

    &__container {
      display: flex;
      gap: 5rem;
      align-items: center;
    }

    &__item {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--orange--light);
      border-radius: 100%;
      color: var(--orange--dark);
      font-weight: 700;
      opacity: 0.4;
      transition: opacity 0.2s ease-in-out;
      position: relative;

      p {
        transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;
      }

      &.actual {
        opacity: 1;
      }

      &.complete {
        opacity: 1;

        p {
          transform: translateY(50%);
          opacity: 0;
        } 

        svg {
          opacity: 1;
          transform: translateY(0%);
        }

        .stepperbar {
          .progress {
            transform: translateX(0);
            width: 100%;
            height: 100%;
            background-color: var(--orange--dark);
          }
        }
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-50%);
        margin: auto;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      .stepperbar {
        width: calc(5rem - 2 * 0.4rem);
        position: absolute;
        left: calc(100% + 0.4rem);
        background-color: rgba(255, 205, 182, 0.5);
        height: 2px;
        overflow: hidden;
        border-radius: 5px;
        
        .progress {
          transform: translateX(-100%);
          transition: transform 0.5s ease-in;
        }
      }
    }
  }
}