<template>
  <div class="code-card">
    <a :href="'/admin/code/' + this.id">
      <p>{{ id }}</p>
      <p>{{ data[1].name }}</p>
      <p>{{ data[1].credit }}h restants</p>
    </a>
    <div class="code__delete" @click="deleteCode"><BinIcon /></div>
  </div>
</template>

<script>
import BinIcon from '../../../assets/img/trash.svg?inline'
export default {
  components: {
    BinIcon
  },
  data() {
    return {
      id: undefined
    }
  },
  props: ['data'],
  mounted() {
    this.id = this.data[0]
  },
  methods: {
    async deleteCode() {
      await this.$atelierboussole.deleteCode({code: this.id})
      this.$destroy();
      this.$el.parentNode.removeChild(this.$el);
    }
  }
}
</script>

<style lang="scss">
.code-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 3rem;
  background-color: var(--grey-light);
  border-radius: 3px;
  position: relative;

  a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
  }

  &__delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    margin: 0;
    padding: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background-color 0.1s var(--easing--primary);

    &:hover {
      background-color: var(--orange--light);

      svg {
        stroke: var(--orange--dark)
      }
    }

    svg {
      height: 100%;
      transition: stroke 0.1s var(--easing--primary);
    }
  }

  p {
    margin: 0;
  }
}
</style>