<template>
  <header ref="header">
    <div class="header-container container">
      <nuxt-link class="logo" to="/">
        <img src="~/assets/img/logo-with-text.svg" />
      </nuxt-link>
      <ul class="menu-desktop" ref="mainMenu">
        <li><nuxt-link prefetch to="/">Accueil</nuxt-link></li>
        <li>
          <nuxt-link prefetch to="/qui-sommes-nous"
            >Qui sommes-nous ?</nuxt-link
          >
        </li>
        <li><nuxt-link prefetch to="/reservation">Réservation</nuxt-link></li>
        <li><nuxt-link prefetch to="/ateliers">Ateliers</nuxt-link></li>
        <li>
          <a to="">Boussole</a>
          <ul class="submenu-desktop">
            <li>
              <a target="_blank" href="https://drive.google.com/file/d/11bI4SUhzOE4z-N1Rw9g7PtTl_uu6B6ku/view?usp=sharing">Accompagnement emploi</a>
              
              <ul class="submenu-desktop__submenu">
                <li><a target="_blank" href="https://drive.google.com/file/d/1Cvt3VpFOv8NYyN-Bjd9Cg0RznMS7KPJT/view?usp=sharing">Programme Accompagnement emploi</a></li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://drive.google.com/file/d/1NG7mgK1ygrwE0UPaH_E3RggMqNaFH2ew/view?usp=sharing">Bilans</a>

              <ul class="submenu-desktop__submenu">
                <li><a target="_blank" href="https://drive.google.com/file/d/1OORbGuHtXIGfe-C7V6MN4MnTu4BgV4yp/view?usp=sharing">Programme bilan 10h</a></li>
                <li><a target="_blank" href="https://drive.google.com/file/d/1A_CzOlTmbCa7c53ng33kN_Cqo54JSB-g/view?usp=sharing">Programme bilan 15h</a></li>
                <li><a target="_blank" href="https://drive.google.com/file/d/1z7FsAV1ATCozgLNhd1b9d1LY34gouJ3J/view?usp=sharing">Programme bilan 24h</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><nuxt-link prefetch to="/contact">Contactez-nous</nuxt-link></li>
      </ul>
      <label for="check" id="menu-handler">
        <input type="checkbox" id="check" @click="toggle" />
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="menu-mobile" :class="{ open: menuOpened }">
        <ul>
          <li><nuxt-link prefetch to="/">Accueil</nuxt-link></li>
          <li>
            <nuxt-link prefetch to="/qui-sommes-nous"
              >Qui sommes-nous ?</nuxt-link
            >
          </li>
          <li><nuxt-link prefetch to="/reservation">Réservation</nuxt-link></li>
          <li><nuxt-link prefetch to="/ateliers">Atelier</nuxt-link></li>
          <li>
          <a to="">Boussole</a>
          <ul class="submenu-desktop">
            <li>
              <a target="_blank" href="https://drive.google.com/file/d/11bI4SUhzOE4z-N1Rw9g7PtTl_uu6B6ku/view?usp=sharing">Accompagnement emploi</a>
              
              <ul class="submenu-desktop__submenu">
                <li><a target="_blank" href="https://drive.google.com/file/d/1Cvt3VpFOv8NYyN-Bjd9Cg0RznMS7KPJT/view?usp=sharing">Programme Accompagnement emploi</a></li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://drive.google.com/file/d/1NG7mgK1ygrwE0UPaH_E3RggMqNaFH2ew/view?usp=sharing">Bilans</a>

              <ul class="submenu-desktop__submenu">
                <li><a target="_blank" href="https://drive.google.com/file/d/1OORbGuHtXIGfe-C7V6MN4MnTu4BgV4yp/view?usp=sharing">Programme bilan 10h</a></li>
                <li><a target="_blank" href="https://drive.google.com/file/d/1A_CzOlTmbCa7c53ng33kN_Cqo54JSB-g/view?usp=sharing">Programme bilan 15h</a></li>
                <li><a target="_blank" href="https://drive.google.com/file/d/1z7FsAV1ATCozgLNhd1b9d1LY34gouJ3J/view?usp=sharing">Programme bilan 24h</a></li>
              </ul>
            </li>
          </ul>
        </li>
          <li><nuxt-link prefetch to="/contact">Contactez-nous</nuxt-link></li>
        </ul>
      </div>
    </div>
    <div class="subheader" ref="subheader">
      <div class="subheader__container" @click="backToTop">
        <p><ChevronUp />Back to top</p>
      </div>
    </div>
  </header>
</template>

<script lang="js" src="./theheader.js"></script>
<style lang="scss" src="./theheader.scss"></style>
