header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
  height: 100px;
  border-bottom: 1px solid white;
  transition: border 0.1s var(--easing--primary);

  &.reveal {
    border-color: rgb(208 208 208 / 70%);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    z-index: 1;

    .logo {
      height: 70%;

      img {
        height: 100%;
      }
    }

    .menu-desktop {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      li {
        list-style-type: none;
        position: relative;

        a {
          text-decoration: none;
          color: var(--grey-dark);
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.2rem;
          padding: 1rem 2.5rem;
          border-bottom: 1px solid white;
          transition: color 0.2s var(--easing--primary),
          border 0.5s var(--easing--primary);
        }
      }

      > li {
        > a {
          &.nuxt-link-exact-active {
            background-color: var(--blue--light);
            font-weight: 600;
            color: var(--blue--dark);
            border-radius: 3px;
          }
        }

        &:hover {
          a:not(.nuxt-link-exact-active) {
            color: black;
          }
        }
      }
    }

    .submenu-desktop {
      position: absolute;
      top: calc(100% + 3rem);
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      left: 0;
      width: max-content;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      padding: 2rem;
      box-shadow: 0 0 4rem rgb(0 0 0 / 10%);
      border-radius: 3px;

      @include media-breakpoint-down(lg) {
        opacity: 1;
        position: unset;
        box-shadow: none;
        padding: 0;
        padding-left: 2rem;
      }

      li {
        cursor: pointer;

        ul {
          @include media-breakpoint-down(lg) {
            padding-left: 2rem;
          }
          li {
            opacity: 0.7;

            @include media-breakpoint-down(lg) {
              margin-bottom: 0;
            }
          }
        }

        a {
          padding: 0;
          border-bottom: none;
        }
      }

      &.display {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .subheader {
    width: auto;
    position: fixed;
    bottom: -10px;
    right: 20px;
    height: 60px;
    transition: transform 0.3s var(--easing--primary),
      opacity 0.3s var(--easing--primary);
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 2;
    opacity: 0;

    &__container {
      width: 100%;
      display: flex;
      align-items: center;

      p {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: color 0.1s var(--easing--primary);

        &:hover {
          color: var(--orange--dark);
        }

        svg {
          margin-right: 1rem;
        }
      }
    }

    &.reveal {
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  #menu-handler {
    display: none;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
    transform: scale(0.25);
    z-index: 10000;

    @include media-breakpoint-down(lg) {
      display: flex;
    }

    span {
      background: var(--grey-dark);
      border-radius: 10px;
      height: 7px;
      margin: 7px 0;
      transition: 0.3s var(--easing--primary);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg) translate(8px, 0px);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(30px, -11px) rotatez(45deg);
    }
  }

  .menu-mobile {
    position: fixed;
    height: 100vh;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    padding: 4rem;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: transform 0.3s var(--easing--primary);
    border-right: 1px solid rgb(208 208 208 / 70%);

    @include media-breakpoint-down(lg) {
      opacity: 1;
    }

    &.open {
      transform: translateX(0);
      pointer-events: all;

      ul {
        li {
          @include comein(1, 20, 0.7, 0.7);
        }
      }
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
        margin-bottom: 2rem;

        a {
          text-decoration: none;
          color: var(--grey-dark);
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.2rem;
          padding-bottom: 0.5rem;
          transition: color 0.2s var(--easing--primary);

          &.nuxt-link-exact-active {
            color: black;
            border-bottom: 2px solid black;
          }
        }

        &:hover {
          a {
            color: black;
          }
        }
      }
    }
  }
}
