.baneer {
  margin: 4rem 0;

  .wrapper {
    padding: 10rem;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--red-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4rem 4rem #d6d6d6;
  }

  &__title {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 1rem 0;
  }

  .compass {
    position: absolute;
    left: -10rem;
    top: -10rem;
    opacity: 0.2;
    transition: all 0.3s var(--easing--primary);

    &.reveal {
      opacity: 0.8;
      transform: translate(20px) rotate(60deg);
    }
  }
}
