<template>
  <section class="baneer container container--large">
    <div class="wrapper">
      <p class="baneer__title">Orientez-moi</p>
      <custom-button
        @mouseover.native="hover = true"
        @mouseleave.native="hover = false"
        type="primary white"
        content="Découvrir"
        to="/contact"
      />
      <Compass class="compass" :class="{ reveal: hover }" />
    </div>
  </section>
</template>
<style lang="scss" src="./baneer.scss"></style>
<script lang="js" src="./baneer.js"></script>
