.schedules {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  margin-bottom: 3rem;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: ".";
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #c2ffc2;
    border: 2px solid #c2ffc2;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s var(--easing--primary),
      box-shadow 0.2s var(--easing--primary),
      transform 0.2s var(--easing--primary);
    @include comein(1, 20);

    p {
      margin: 0;
      pointer-events: none;

      &.state {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        color: var(--green-dark);
      }
    }

    &.choice {
      border-color: #99ff99;
      background-color: #99ff99;
      box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.24);
    }

    &.disabled {
      pointer-events: none;
      background-color: #ffa6a6;
      border-color: #ffa6a6;

      .state {
        color: #b33636;
      }
    }

    &:hover {
      transform: translateY(50px);
    }
  }
}
