<template>
  <div>
    <div v-if="events.length > 0">
      <div class="schedules">
        <div
          @click="handleChoice"
          class="schedules__items"
          :class="[
            schedule[2] === true ? ' available ' : ' disabled ',
            (schedule[0] === choice[0]) & (schedule[1] === choice[1])
              ? ' choice'
              : '',
          ]"
          v-for="(schedule, index) in schedules"
          :index="index"
          :key="index"
          :start="schedule[0]"
          :end="schedule[1]"
        >
          <p>{{ schedule[0] }}h à {{ schedule[1] }}h</p>
          <p class="state">
            {{ schedule[2] === true ? "Disponible" : "Indisponible" }}
          </p>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="schedules">
        <vue-skeleton-loader
          v-for="index in 9"
          :key="index"
          type="rect"
          :height="50"
          animation="wave"
          color="#F5F5F5"
        />
      </div>
    </div>
  </div>
</template>

<script lang="js" src="./calendar.js"></script>
<style lang="scss" src="./calendar.scss"></style>
