<template>
  <div class="page-wrapper">
    <layout-the-header />
    <Nuxt />
    <!-- <layout-loader/> -->
    <layout-the-footer />
  </div>
</template>

<script>
export default {
  mounted() {
    window.axeptioSettings = {
      clientId: process.env.AXEPTIO_ID,
    };
    
    (function(d, s) {
      var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
      e.async = true; e.src = "//static.axept.io/sdk.js";
      t.parentNode.insertBefore(e, t);
    })(document, "script");
  }
}
</script>