<template>
  <div class="page reservation">
    <layout-the-page-heading title="Réservation" :text="page.data.headingContent" />
    <div class="reservation__wrapper container">
      <div class="reservation__recap">
        <div class="reservation__recap__wrapper">
          <p class="heading">Récapitulatif</p>
          <div class="reservation__recap__item">
            <div class="label">Votre nom</div>
            <p class="value">{{ event.summary }}</p>
          </div>
          <div class="reservation__recap__item">
            <div class="label">Votre email</div>
            <p class="value">{{ clientEmail }}</p>
          </div>
          <div class="reservation__recap__item">
            <div class="label">Date choisie</div>
            <p class="value">{{ requestedDay }}</p>
          </div>
          <!-- <div class="reservation__recap__item">
            <div class="label">Durée</div>
            <p class="value">{{ requestedDuration }} heures</p>
          </div> -->
        </div>

        <!-- <p class="total" v-if="requestedType === 'accompagnement-emploi'">{{ requestedDuration * 75 }} €</p>
        <p class="total" v-else>Compris dans votre forfait</p> -->
      </div>
      <div class="reservation__form">
        <h1 class="heading">Reservation</h1>
         <!-- <div class="reservation__code" v-if="code">
          <div class="reservation__code__validated" v-if="codeData">
            <p>Bonjour {{ codeData.name }},</p>
            <p>Il vous un crédit de <strong>{{ codeData.credit }}h</strong></p>
          </div>
          <div lass="reservation__code__error" v-else>
            <p>Mauvais code</p>
          </div>
        </div> -->
        <div class="reservation__errors">
          <Alert />
          <p class="reservation__errors__title">
            Ce créneau n'est pas disponible
          </p>
        </div>
        <div class="inputs">
          <div class="inputs__wrapper">
            <p class="label">Date souhaitée</p>
            <div class="input-with-icon white small">
              <calendar-icon/>
              <client-only>
                <date-picker
                  placeholder="DD/MM/YYYY"
                  format="dd/MM/yyyy"
                  v-model="requestedDay"
                  :disabled-dates="disabledDates"
                  :monday-first="true"
                  calendar-class="custom-calendar"
                  :language="fr"
                />
              </client-only>
            </div>
          </div>
          <div class="inputs__wrapper">
            <p class="label">Email</p>
            <div class="input-with-icon white small">
              <mail-icon/>
              <input type="mail" v-model="clientEmail" />
            </div>
          </div>
          <div class="inputs__wrapper">
            <p class="label">Nom et Prénom</p>
            <div class="input-with-icon white small">
              <user-icon/>
              <input type="text" @input="updateName" value="John Doe" />
            </div>
          </div>
          <!-- <div class="inputs__wrapper">
            <p class="label">Durée</p>
            <div class="input-with-icon white small">
              <alarm-icon/>
              <input
                type="number"
                min="1"
                max="2"
                step="0.5"
                v-model="requestedDuration"
              />
            </div>
          </div> -->
          <!-- <div class="inputs__wrapper">
            <p class="label">Type</p>
            <div class="input-with-icon white small">
              <list-icon/>
              <select v-model="requestedType">
                <option value="accompagnement-emploi">Accompagnement emploi</option>
                <option value="bilans-compétence">Bilans de compétences</option>
                <option value="cap-aepe">CAP AEPE</option>
              </select>
            </div>
          </div> -->
        </div>
        <div class="label">Créneaux</div>
        <calendar />
        <order />
      </div>
    </div>
  </div>
</template>

<style lang="scss" src="./reservation.scss"></style>

<script>
import Alert from "../../assets/img/alert-triangle.svg?inline";
import AlarmIcon from "css.gg/icons/svg/alarm.svg?inline";
import MailIcon from "css.gg/icons/svg/mail.svg?inline";
import UserIcon from "css.gg/icons/svg/user.svg?inline";
import CalendarIcon from "css.gg/icons/svg/calendar-today.svg?inline";
import ListIcon from "css.gg/icons/svg/layout-list.svg?inline";
import { fr } from 'vuejs-datepicker/dist/locale'

export default {
  data() {
    return {
      disabledDates: {
        days: [6, 0],
        to: new Date(),
      },
      fr: fr
    }
  },

  components: {
    Alert,
    AlarmIcon,
    MailIcon,
    UserIcon,
    CalendarIcon,
    ListIcon
  },

  computed: {
    requestedDay: {
      get() {
        return this.$store.state.reservation.requestedDay;
      },
      set(value) {
        this.$store.commit(
          "reservation/updateDate",
          new Date(value).toISOString()
        );
        this.$store.commit(
          "reservation/changeDay",
          new Date(value).toISOString()
        );
      },
    },

    clientEmail: {
      get() {
        return this.$store.state.reservation.clientEmail;
      },
      set(value) {
        this.$store.commit("reservation/changeEmail", { email: value });
      },
    },

    requestedDuration: {
      get() {
        return this.$store.state.reservation.requestedDuration;
      },
      set(value) {
        this.$store.commit("reservation/changeDuration", { duration: value });
      },
    },

    requestedType: {
      get() {
        return this.$store.state.reservation.requestedType;
      },
      set(value) {
        this.$store.commit("reservation/changeType", { type: value });
      },
    },

    event() {
      return this.$store.state.reservation.event;
    },

    code() {
      return this.$store.state.reservation.code.id;
    },

    codeData() {
      return this.$store.state.reservation.code.codeData;
    },
  },

  methods: {
    updateName(e) {
      this.$store.commit(
        "reservation/updateSummary",
        "Atelier & la Boussole - X - " + e.target.value
      );
    },
  },

  async asyncData({ $prismic, params, error }) {
    const page = await $prismic.api.getSingle("reservation");
    if (page) {
      return { page };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },
};
</script>
