.reservation {
  &__wrapper {
    display: flex;
    gap: 1rem;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  .heading {
    margin: 0 0 2rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .total {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__recap {
    width: 30%;
    height: 100%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &__wrapper {
      background-color: var(--grey-light);
      padding: 2rem 3rem;
      border-radius: 0.5rem;
    }

    &__item {
      margin-bottom: 2rem;

      .value {
        font-size: 1.3rem;
      }

      p {
        margin-top: 0;
      }
    }
  }

  &__form {
    width: 70%;
    height: 100%;
    padding: 2rem 3rem;
    padding-right: 0;
    border-radius: 0.5rem;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 2rem 0;
    }

    .label {
      margin: 0 0 0.2rem 0;
    }

    .inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 3rem;
      padding: 2rem 3rem;
      width: 100%;
      background-color: var(--grey-light);
      border-radius: 3px;

      .label {
        font-size: 1rem;
        color: var(--grey-dark);
      }

      input, select {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        background-color: white;
        outline: none;
      }
    }
  }

  &__errors {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    padding: 2rem 3rem;
    background-color: #ffa6a6;
    color: #b33636;
    border-radius: 3px;
    display: none;

    &__title {
      margin: 0;
      font-size: 1.5rem;
    }

    &.visible {
      height: auto;
    }
  }

  &__code {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 2rem 3rem;
    border-radius: 3px;
    background-color: var(--blue--light);

    &__validated {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  .custom-calendar {
    border: none;
    border-radius: 3px;
    box-shadow: -1px 5px 16px -5px rgb(0 0 0 / 28%);
    top: calc(100% + 1rem);
    padding: 1rem;

    header {
      position: unset;
      width: 100%;
      height: unset;
    }

    .cell {
      @include comein(1, 50, 0.2s, 0.01s);
      border-radius: 3px;
      overflow: hidden;
      border: none !important;
      transition: background-color 0.3s var(--easing--primary) color 0.3s var(--easing--primary);

      &:hover {
        background-color: var(--grey-light);
      }
      &.selected {
        background-color: var(--orange--light);
        font-weight: 600;
        color: var(--orange--dark);

        &:hover {
          background-color: var(--orange--light) !important;
        }
      }
    }
  }
}
