.homepage {
  section {
    margin: 5rem 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 10rem;
    }

    .section-title {
      font-size: 4rem;
      color: #464646;
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  &__hero {
    display: flex;
    gap: 8rem;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &__left {
      width: 60%;
      padding: 5rem 0;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      h1 {
        font-weight: 500;
        font-size: 5rem;
        color: #464646;
        margin: 0;
        line-height: 1.2;

        @include media-breakpoint-down(md) {
          font-size: 3rem;
        }

        strong {
          color: black;
          font-size: 5rem;
          font-weight: 800;

          @include media-breakpoint-down(md) {
            font-size: 3rem;
          }
        }
      }

      .subtitle {
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 0.02rem;
        color: #000000;
        opacity: 0.7;
      }

      .ctas {
        margin-top: 5rem;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
      }
    }

    &__right {
      position: relative;
      width: 35%;

      @include media-breakpoint-down(md) {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .compass {
        position: absolute;
        
        &:nth-child(1) {
          left: -7rem;
          top: -7rem;
          mix-blend-mode: overlay;
          opacity: 0.2;
          width: 15rem;
          height: 15rem;
        }

        path {
          stroke: var(--orange--light);
        } 
      }

      picture {
        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: center;
        }
      }

      .bg {
        height: calc(100%);
        width: calc(100% + var(--padding--body));
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5rem;
        object-fit: cover;
        box-shadow: 0 0 4rem rgb(0 0 0 / 10%);

        @include media-breakpoint-down(md) {
          height: 100%;
          width: calc(100% + (var(--padding--body) * 2));
          left: unset;
          border-radius: 0;
          position: initial;
        }
      }
    }
  }

  &__text-with-img {
    display: flex;
    gap: 8rem;
    z-index: 3;
    border-radius: 2rem;
    max-width: calc(100vw - 2 * var(--padding--body) );
    margin: 10rem 0 !important;
    background-color: rgba(255, 205, 182, 0.2);

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &__left {
      width: 40%;
      position: relative;

      @include media-breakpoint-down(md) {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      picture {
        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: center;
        }
      }

      .bg {
        height: calc(100%);
        width: calc(100% + ((100vw - 144rem) / 2) + var(--padding--body));
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 1rem 1rem 0;
        object-fit: cover;

        @include media-breakpoint-down(xxl) {
          width: calc(100% + (var(--padding--body) * 2));
          left: unset;
          border-radius: 0;
          position: initial;
        }
      }
    }

    &__right {
      width: 60%;
      z-index: 3;
      padding: 5rem 10rem 5rem 2rem;
      border-radius: 1rem;

      h2 {
        color: var(--orange--dark);
      }

      @include media-breakpoint-down(md) {
        width: 100%;
        order: -1;
        padding: 0;
      }

      .subtitle {
        p {
          line-height: 1.9;
          text-align: justify;
          font-weight: 300;
        }
      }

      .grid {
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0rem 1rem;
        grid-template-areas:
          ". ."
          ". ."
          ". .";

        p {
          font-size: 1.4rem;
          color: rgba(0, 0, 0, 0.5);
          text-transform: uppercase;
          font-weight: 600;
        }
      }

      .ctas {
        margin-top: 5rem;
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        a {
          height: fit-content;
        }
      }
    }
  }

  .qualiopi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 1rem;
    border: 2px solid var(--grey-light);

    picture {
      width: 30rem;
      border-radius: 5px;

      img {
        width: 100%;
      }
    }
  }

  &__about {
    display: flex;
    gap: 8rem;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &__left {
      width: 60%;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      p {
        line-height: 1.9;
        text-align: justify;
        font-weight: 300;
      }

      .ctas {
        margin-top: 10rem;

        p {
          font-weight: 700;
        }
      }
    }

    &__right {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .hwa {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
          max-width: 200px;
        }

        &:nth-child(1) {
          margin-right: 10rem;
        }

        &:nth-child(2) {
          margin-left: 10rem;
        }
      }
    }
  }

  &__propositions {
    background-color: var(--grey-light);
    padding: 5rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .grid {
      padding-top: 0;
      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 4em 6em;
      grid-template-areas:
        ". . ."
        ". . .";

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: ". .";
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: ".";
      }

      h4 {
        color: var(--grey-dark);
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: 0;
      }

      p {
        line-height: 1.9;
        opacity: 0.7;
        text-align: justify;
        font-size: 1.4rem;
      }
    }
  }

  &__offers {
    &__offer {
      background-color: blue;
      height: 30px;
    }

    &__wrapper {
      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 4rem;
      grid-template-areas: ". . .";
      width: 100%;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 8rem;
      align-items: flex-start;
      padding-top: 0;
    }

    &__infos {
      padding: 4rem;
      margin: 0;
      border-radius: 2rem;
      box-shadow: 0 0 4rem rgb(0 0 0 / 10%);
      flex-grow: 1;

      @include media-breakpoint-down(lg) {
        width: 100%;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;

        @include media-breakpoint-down(lg) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
        }

      }

      &__item {
        display: flex;
        align-items: center;
        gap: 2rem;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }

        .icon {
          width: 4rem;
          height: 4rem;
          padding: 1rem;
          background-color: var(--orange--light);
          border-radius: 100%;

          svg {
            stroke: var(--orange--dark);
            width: 100%;
          }
        }

        a {
          text-decoration: none;
        }

        p {
          font-size: 1.3rem;
          text-align: justify;
          text-transform: uppercase;
          color: #4e4e4e;

          @media (max-width: 800px) {
            font-size: 1rem;
          }
        }
      }
    }

    .contact-form {
      min-width: 600px;
      flex-grow: 5;

      @media (max-width: 800px) {
        width: 100%;
        min-width: unset;
      }
    }
  }

  .posts-list {
    padding-top: 0;
  }
}
