<template>
  <div class="page homepage">
    <orientation v-if="quizModal" @close="closeModal" />
    <section class="homepage__hero container">
      <div class="homepage__hero__left">
        <PrismicRichText
          class="section-title"
          :field="home.data.hero[0].heading"
        />
        <PrismicRichText class="subtitle" :field="home.data.hero[0].subtitle" />
        <div class="ctas">
          <custom-button
            type="primary orange"
            content="Réservation"
            to="/reservation"
          />
        </div>
      </div>
      <div class="homepage__hero__right">
        <CompassIcon class="compass" />
        <nuxt-picture
          src="/hero-img.webp"
          :imgAttrs="{
            class: 'bg',
          }"
        />
      </div>
    </section>

    <section id="formation" class="homepage__text-with-img container">
      <div class="homepage__text-with-img__left">
        <nuxt-picture
          src="/section2-img.webp"
          :imgAttrs="{
            class: 'bg',
          }"
        />
      </div>
      <div class="homepage__text-with-img__right">
        <PrismicRichText
          class="section-title heading--small"
          :field="home.data.textWithImg[0].heading"
        />
        <PrismicRichText
          class="subtitle"
          :field="home.data.textWithImg[0].subtitle"
        />
        <div class="grid">
          <div
            v-for="(advantage, index) in home.data.advantagesList[0]"
            :key="index"
          >
            <p>{{ advantage }}</p>
          </div>
        </div>
        <div class="ctas">
          <custom-button
            type="primary orange"
            content="En savoir plus"
            to="/ateliers"
          />
        </div>
      </div>
    </section>

    <section class="container qualiopi">
      <h2 class="section-title heading--small">Certifiés Qualiopi</h2>
      <nuxt-picture src="/qualiopi-logo.png" />
    </section>

    <section id="about" class="homepage__about container">
      <div class="homepage__about__left">
        <PrismicRichText
          class="section-title heading--small"
          :field="home.data.about[0].heading"
        />
        <PrismicRichText :field="home.data.about[0].content" />
        <div class="ctas">
          <custom-button
            type="primary orange"
            content="Nous découvrir"
            to="/qui-sommes-nous"
          />
        </div>
      </div>
      <div class="homepage__about__right">
        <div class="hwa">
          <nuxt-picture
            src="/marie-anne.webp"
            :imgAttrs="{
              class: 'bg',
            }"
          />
          <p>Marie-Anne</p>
        </div>
      </div>
    </section>

    <Baneer @btnClick="openModal" />

    <section>
      <div class="container section-title heading--small">
        <h3>Actualités</h3>
      </div>
      <posts-list class="container" :posts="news" columns="short" />
    </section>

    <section id="proposition" class="homepage__propositions">
      <div class="container section-title heading--small">
        <h3>Nos propositions</h3>
      </div>
      <div class="container grid">
        <div class="proposition">
          <h4>Bilan</h4>
          <p>
            A l'Atelier & la Boussole nos bilans de compétences sont
            personnalisables et conçus pour que vous soyez alignés avec vos
            aspirations. Quelques heures pour soi, pour mieux se connaitre et
            définir la stratégie pour atteindre votre évolution.
          </p>
        </div>

        <div class="proposition">
          <h4>Café rencontre</h4>
          <p>
            A l'Atelier & la Boussole nous aimerions créer du lien et rapprocher
            les gens. Venez rencontrer et échanger autour d'une boisson chaude (
            ou froide ) avec vos pairs ou avec des personnes qui ont les mêmes
            questionnements que vous, sur des thématiques précises. Venez
            partager vos idées, échanger ou débattre dans un cadre atypique !
          </p>
        </div>

        <div class="proposition">
          <h4>Ateliers</h4>
          <p>
            A l'Atelier & la Boussole nous vous proposerons des ateliers sur des
            thématiques précises. Monter en compétences, déployer vos softs
            skills et expérimenter avec des experts pendant quelques heures,
            tout cela dans un cadre inhabituel qui n'attend que vous !
          </p>
        </div>

        <div class="proposition">
          <h4>Accompagnement emploi</h4>
          <p>
            A l'Atelier & la Boussole, nous vous accompagnons dans votre
            recherche d'emploi ou votre reconversion. Les codes évoluent très
            vite ainsi que les attentes des employeurs, retravailler son CV, sa
            posture, son personal branding permet de mettre en avant la
            meilleure version de vous-même et d'atteindre vos objectifs !
          </p>
        </div>
      </div>
    </section>

    <section class="homepage__contact">
      <div class="container section-title heading--small">
        <h3>Contact</h3>
      </div>
      <div class="homepage__contact__container container">
        <div class="homepage__contact__infos">
          <div class="homepage__contact__infos__wrapper">
            <div class="homepage__contact__infos__item">
              <div class="icon">
                <MailIcon />
              </div>
              <a href="mailto:contact@atelierboussole.com">
                <p>contact@atelierboussole.com</p>
              </a>
            </div>
            <div class="homepage__contact__infos__item">
              <div class="icon">
                <PhoneIcon />
              </div>
              <div>
                <a href="tel:0666413023">
                  <p>06 66 41 30 23</p>
                </a>
              </div>
            </div>
            <div class="homepage__contact__infos__item">
              <div class="icon">
                <MapIcon />
              </div>
              <p>à distance, en visio, en présentiel</p>
            </div>
          </div>
        </div>
        <contact-form class="contact-form" />
      </div>
    </section>
  </div>
</template>

<style lang="scss" src="./home.scss"></style>
<script>
import CompassIcon from "../assets/img/compass.svg?inline";
import MailIcon from "../assets/img/mail.svg?inline";
import PhoneIcon from "../assets/img/phone.svg?inline";
import MapIcon from "../assets/img/map-pin.svg?inline";

export default {
  components: {
    CompassIcon,
    MailIcon,
    PhoneIcon,
    MapIcon,
  },
  data() {
    return {
      quizModal: false,
      news: [],
    };
  },

  async asyncData({ $prismic, error }) {
    const home = await $prismic.api.getSingle("home");
    if (home) {
      return { home };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },

  async mounted() {
    this.news = await this.$prismic.api.query(
      this.$prismic.predicates.at("document.type", "article")
    );
  },

  methods: {
    openModal() {
      this.quizModal = true;
    },
    closeModal() {
      this.quizModal = false;
    },
  },
};
</script>
