<template>
  <div class="order">
    <custom-button
      class="btn primary orange"
      content="Réserver"
      @clickButton="freeCheckout"
    />
    <!-- <div class="order__modal" :class="{ visible: modal }">
      <div class="order__modal__bg" @click="modal = false"></div>
      <form class="order__modal__form">
        <div class="input-with-icon">
          <password-icon/>
          <input @change="getCode" type="text" v-model="code" placeholder="89HUIP89H73BEDSQ9D">
        </div>
        <custom-button
          class="btn primary orange"
          content="Réserver"
          @clickButton="checkoutWithCode"
        />
      </form>
    </div>
    <div v-if="requestedType === 'accompagnement-emploi'">
      <div class="order__payment" :class="[ready === true ? 'ready' : 'disabled']">
        <custom-button
          class="btn primary orange"
          content="Procéder au paiement"
          @clickButton="checkout"
        />
      </div>
    </div>
    <div v-else>
      <div class="order__payment" :class="[ready === true ? 'ready' : 'disabled']">
        <custom-button
          class="btn primary orange"
          content="Je rentre mon code"
          @clickButton="modal = true"
        />
      </div>
    </div> -->
  </div>
</template>

<script lang="js" src="./order.js"></script>
<style lang="scss" src="./order.scss"></style>
