.order {
  display: flex;
  align-items: center;
  gap: 4rem;

  &__payment {
    display: flex;
    align-items: center;
    gap: 4rem;
    transition: opacity 0.3s ease-in-out;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      .btn,
      .order__modal__open {
        pointer-events: none;
      }
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s var(--easing--primary);

    &.visible {
      opacity: 1;
      pointer-events: all;

      form {
        transform: translateY(0);
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 3px;
      padding: 3rem;
      transition: transform 0.7s var(--easing--primary);
      transform: translateY(20%);

      .input-with-icon {
        width: 100%;
        margin-bottom: 2rem;
      }
    }

    &__open {
      cursor: pointer;
    }

    &__bg {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }

  stripe-checkout {
    position: absolute;
  }
}