.btn {
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: transform 0.3s var(--easing--primary);
  display: flex;
  width: fit-content;

  p {
    z-index: 1;
    margin: 0;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 1.2rem 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      height: 20px;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }

  &.primary {
    &.orange {
      &::before {
        background-color: var(--orange--dark);
        border-color: var(--orange--dark);
      }

      p {
        border: 4px solid var(--orange--light);
        color: var(--orange--dark);
        background-color: var(--orange--light);
      }
    }

    &.white {
      &::before {
        background-color: var(--grey-light);
        border-color: var(--grey-light);
      }

      p {
        color: var(--orange--dark);
        background-color: white;
        border: 4px solid white;
        box-shadow: 0px 5px 25px -7px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &.secondary {
    &.orange {
      &::before {
        background-color: var(--orange--dark);
        border-color: var(--orange--dark);
      }

      p {
        color: var(--orange--dark);
        background-color: white;
        border: 4px solid var(--orange--light);
      }
    }
  }

  &.small {
    border-radius: 0.8rem;
    border-width: 3px !important;

    p {
      padding: 1rem 3rem;
      font-weight: 700;
      font-size: 1.2rem;
      text-align: center;
      letter-spacing: 0.14rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    transition: transform 0.3s var(--easing--primary);
    border: 4px solid var(--orange--dark);
    z-index: -1;
    box-sizing: border-box;
  }

  &:hover {
    transform: translateX(-4px) translateY(-4px);

    &::before {
      transform: translateX(8px) translateY(8px);
    }
  }
}
