<template>
  <div class="page article">
    <div class="article__header">
      <img class="article__cover" :src="post.data.cover.url" />
      <h1 class="container container--small">{{ post.data.title }}</h1>
      <div class="container container--small">
        <p class="date">
          {{ new Date(post.last_publication_date).toLocaleDateString("fr") }}
        </p>
      </div>
      <div class="posts-list__item__categories container container--small">
        <p v-for="tag in post.tags" :key="tag">
          {{ tag }}
        </p>
      </div>
    </div>
    <div class="post-content container container--small">
      <slice-zone :components="components" :slices="post.data.slices" />
    </div>
    <section class="container container--small">
      <div class="section-title heading--small">
        <h3>Autres articles récents</h3>
      </div>
      <posts-list :avoid="post.id" :posts="news" columns="wide" />
    </section>
  </div>
</template>

<style lang="scss" src="./article.scss"></style>
<script>
import { components } from "~/slices";

export default {
  data: function () {
    return { components };
  },
  async asyncData({ $prismic, params, error }) {
    const post = await $prismic.api.getByUID("article", params.uid);
    const news = await $prismic.api.query(
      $prismic.predicates.at("document.type", "article")
    );
    if (post) {
      return { post, news };
    } else {
      error({ statusCode: 404, message: "Article not found" });
    }
  },
  head() {
    return {
      title: this.post.data.title,
      meta: [
        {
          name: 'description',
          content: this.post.data.seo[0].description
        },
        {
          name: 'title',
          content: this.post.data.title
        },
        {
          name: 'image',
          content: this.post.data.cover.url
        }
      ]
    }
  }
};
</script>
