.actualités {
  &__filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0;
    padding-bottom: 0;

    label {
      display: flex;
      align-items: center;

      input {
        display: none;

        &:checked {
          & ~ p {
            opacity: 1;
          }
        }
      }

      p {
        text-transform: capitalize;
        padding: 0.2rem 1rem;
        border-radius: 3px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: var(--orange--light);
        color: var(--orange--dark);
        font-size: 1.2rem;
        opacity: 0.5;
        transition: opacity 0.1s var(--easing--primary);
        cursor: pointer;
      }
    }
  }
}
