.article {
  h1 {
    font-size: 4rem;
    margin: 0;
    padding-bottom: 1rem;
  }

  &__header {
    width: 100vw;
    height: 400px;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;

    > .container {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;
      display: flex;
      align-items: center;

      .date {
        padding: 0.5rem 1rem;
        border-radius: 3px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: white;
        color: var(--orange--dark);
        font-size: 1.2rem;
        margin: 0;
      }
    }
    
    .posts-list__item {
      &__categories p {
        margin: 0;
      }
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .posts-list {
    padding-top: 0;
  }

  &__content {
    .block-img {
      img {
        width: 100%;
      }
    }

    strong, a, span {
      font-size: inherit;
    }

    a {
      color: var(--orange--dark);
    }

    h3 {
      font-size: 2.5rem;
    }
    
    h4 {
      font-size: 2rem;
    }
  }
}