<template>
  <div class="page actualités">
    <layout-the-page-heading title="Actualités" :text="page.data.headingContent" />
    <div class="actualités__filters container">
      <label v-for="(tag, index) in tags" :key="index">
        <input
          type="checkbox"
          :value="tag"
          name="filter"
          v-model="requestedTags"
        />
        <p class="actualités__filters__item">{{ tag }}</p>
      </label>
    </div>
    <posts-list columns="wide" class="container" :posts="posts" />
  </div>
</template>

<style lang="scss" src="./actualités.scss"></style>
<script>
export default {
  data() {
    return {
      requestedTags: [],
      tags: undefined,
    };
  },

  async asyncData({ $prismic, error }) {
    const posts = await $prismic.api.query(
      $prismic.predicates.at("document.type", "article")
    );
    const page = await $prismic.api.getSingle("actualite");
    if (posts && page) {
      return { posts, page };
    } else {
      error({ statusCode: 404, message: "Page not found" });
    }
  },

  watch: {
    requestedTags() {
      this.getByTags();
    },
  },

  methods: {
    async getByTags() {
      let posts = null;
      if (this.requestedTags.length > 0) {
        posts = await this.$prismic.api.query(
          this.$prismic.predicates.at("document.tags", this.requestedTags)
        );
      } else {
        posts = await this.$prismic.api.query(
          this.$prismic.predicates.at("document.type", "article")
        );
      }
      this.posts = posts;
    },
  },

  async mounted() {
    this.tags = await this.$atelierboussole.getAllTags()
  },
};
</script>
